.row
  .col-md-10
    h1 Post-Gathering Activities and Lodging

    h2 The Great Adventure

    p.justify.indent The Gathering itself may be a mere one-day affair, but by popular demand it kicks off a more ambitious (and entirely optional) extended trip known as the 'Great Adventure'. This extended stay is never anything short of megalomaniacal; in years past we have had not just incredible nights out on the town, but also treks up mountains (one of you may recall a particularly enchanting encounter with a reindeer once upon a time in Norway), gone on a run-out trip to a cricket match (another of you might reflect on being called a 'chav' in earnest in Manchester), and even chartered a catamaran for a multi-day reef diving trip (in which our Belizean divemaster left us to chase a grouper to ~120 ft and ran out of air - good times).

    p.justify This year, the Great Adventure will formally run from 6/23 (The Gathering) until 7/1. You may join for as many or as few days as you like. Events and activities will be planned according to the size and general interest of the group. Therefore, in order to get a proper headcount and facilitate planning, you MUST reserve lodging ahead of time (see below). As plans are tweaked and finalized, you will have an opportunity to modify your reservation accordingly. A rough description of the 'theme' of each day is provided below to pique your interest, and depending on which days you select, you will be notified of available activities (some of which may cost additional and some of which may have to be booked in advance).

    p.justify To emphasize, the Great Adventure is entirely optional, officially has 'nothing to do' with the Gathering, and is a not-for-profit affair - should there be any funds remaining after the trip, you will be reimbursed (and if anything costs more than advertised, Justin usually eats the cost).

    h2 Lodging

    p.justify.indent Whether you are taking part in the Great Adventure activities or not, accommodations with the group are available starting the night of the Gathering and lasting until the night of 7/1. You are welcome to reserve as many or as few nights as you wish. The fixed cost to reserve accommodations is $85/night, and payment is due on or before May 8.

    p.justify
      em For those of you joining in the Great Adventure, 
      | you must reserve lodging even if you plan to find your own accommodations. This is for the purpose of establishing a headcount - should you choose to do your own thing, you will be reimbursed or your funds applied elsewhere as you see fit.

    p.text-center
      b The RSVP for lodging/the Great Adventure closes May 8.
    p.text-center
      b Reservations made after May 8 will be subject to availability at a cost of $100/night.
    p.text-center
      b You must attend The Gathering to participate in any part of the Great Adventure!

    p.justify Please note that because 6/26 - 6/28 is part of a contiguous run-out trip, those days must be reserved as a block.

    p.justify As this is not officially part of The Gathering and is not done anonymously, please feel free to reach out to Justin Knutson directly with any questions or concerns (knutson.justin@gmail.com). Transparency is more important than secrecy!

table.table
  tbody
    tr(ng-repeat='day in $ctrl.itineraryDays')
      td.align-middle(ng-switch='$ctrl.reservationStatus(day.id)')
        input.btn.btn-block.btn-primary(
          value='Add to Reservation'
          type='button'
          ng-switch-default
          ng-click='$ctrl.addToReservation(day.id)'
        )
        input.btn.btn-block.btn-default(
          value='Reserved!'
          disabled
          ng-switch-when='reserved'
        )
        input.btn.btn-block.btn-danger(
          value='Remove'
          type='button'
          ng-switch-when='pending'
          ng-click='$ctrl.removeFromReservation(day.id)'
        )
      td
        h2 {{day.dateString}} - {{day.title}}, {{day.location}}
        p {{day.description}}
      td.align-middle
        p.lead ${{day.price}}

.panel.panel-default
  .panel-body
    .row
      .col-md-4.col-md-offset-4
        input.btn.btn-medium.btn-success.btn-block(
          value='Complete Reservation!'
          type='button'
          ng-click='$ctrl.completeReservation()'
        )
