.modal-header
  h1.text-center Please Set Your Password
.modal-body
  .panel.panel-default
    .panel-body
      .text-center
        p Codes are great, but not secure enough. Please take a moment to set your password
        .panel-body
          form(name='$ctrl.setPwForm' ng-submit='$ctrl.submit()' novalidate)
            fieldset

              //- New password
              .form-group(ng-class='{ "has-error": $ctrl.pwNewError() }')
                label New Password
                input.form-control.input-md(
                  name='pwNew'
                  type='password'
                  required
                  placeholder='New Password'
                  ng-model='$ctrl.pwNew'
                  ng-minlength='5'
                  ng-maxlength='32'
                )

                //- Error messages
                p.help-block(ng-show='setPwForm.pwNew.$error.minlength')
                  | Password must be at least 5 characters long
                p.help-block(ng-show='setPwForm.pwNew.$error.maxlength')
                  | Okay, but seriously, not that long.

              //- Confirm password
              .form-group(ng-class='{ "has-error": $ctrl.pwConfirmError() }')
                label Confirm New Password
                input.form-control.input-md(
                  name='pwConfirm'
                  type='password'
                  required
                  placeholder='Confirm Password'
                  ng-model='$ctrl.pwConfirm'
                  ng-minlength='5'
                  ng-maxlength='32'
                )

                //- Error messages
                p.help-block(ng-show='$ctrl.pwConfirmError()')
                  | Passwords must match

              //- Submit button
              input.btn.btn-lg.btn-primary.btn-block(
                value='Set Password'
                type='submit'
                ng-disabled='$ctrl.disableSubmit()'
              )
.modal-footer
