.container.text-center
  .row#loginForm
    .col-sm-4.col-sm-offset-4
      h2.text-center Please Login
      form(name='loginForm' novalidate ng-submit='$ctrl.login()')
        .form-group
          label Email:
          input.form-control.input-sm(
            type='email'
            name='email'
            placeholder='Email Address'
            ng-model='$ctrl.credentials.email'
          )

        .form-group
          label Code:
          input.form-control.input-sm(
            type='password'
            name='password'
            placeholder='Password or Code'
            ng-model='$ctrl.credentials.password'
          )
          p.help-block(ng-show='$ctrl.showError')
            | {{$ctrl.errorMessage}}

        .form-group
          input.btn.btn-lg.btn-primary.btn-block(
            value='Log In'
            type='submit'
          )
